/* COLORS */
$basic-green: #68b738;
$basic_green-2: #5eaa2f;
$special-dark-grey: #444444;
$basic-gray: #f2f2f2;
$basic_grey-2: #ebebeb;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_dark-grey-2: #222222;
$status_error: #ff8282;

/* FONTS */
$Lato: "Lato", sans-serif;
$Oswald: "Oswald", sans-serif;
