.additional-goods {
  color: #000000;
}

.additional-goods__wrapper {
  margin: 0 auto 54px;
  width: 280px;
}

.additional-goods__title {
  margin: 0 auto 36px;
  width: 280px;
  font-family: $Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additional-goods__list {
  margin: 0;
  padding: 0 0 19px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-bottom: 1px solid $special_grey;
}

.additional-goods__item {
  width: 280px;
  border-top: 1px solid $special_grey;
}

.additional-goods__name {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.additional-goods__trade {
  display: flex;
  justify-content: space-between;
}

.additional-goods__unit {
  font-family: $Lato;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional-goods__price {
  font-family: $Lato;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional-goods__order-all-wrapper {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url("../../images/cat-in-box-mobile@2x.webp");
  background-size: cover;
  position: relative;
  width: 280px;
  height: 290px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.additional-goods__order-all-text {
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  margin: 0 auto;
  padding: 60px;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    margin-bottom: 50px;
    transform: translate(50%, -25%);
    background-image: url("../../icons/stack.svg#gift-icon");
  }
}

.additional-goods__order-all {
  font-family: $Lato;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .additional-goods__title {
    font-size: 32px;
    line-height: 32px;
    width: 632px;
    margin-bottom: 80px;
  }

  .additional-goods__wrapper {
    margin: 0 auto 54px;
    width: 708px;
  }

  .additional-goods__list {
    padding: 0;
    gap: 0;
    border: none;
  }

  .additional-goods__item {
    width: 708px;
    padding: 26px 38px;
    border: 1px solid $special_grey;
  }

  .additional-goods__info {
    padding: 15px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .additional-goods__name {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__unit {
    margin: 0 50px 0 0;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__price {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__order-all-wrapper {
    background-image: url("../../images/cat-in-box-tablet@2x.webp");
    width: 708px;
    height: 200px;
    display: flex;
    text-align: center;
  }

  .additional-goods__order-all-text {
    width: 708px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 80px 0 0 150px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 10px;
      left: 50px;
      transform: translate(50%, 50%);
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    margin-bottom: 96px;
  }

  .additional-goods__title {
    font-size: 40px;
    line-height: 40px;
    width: 1220px;
    margin-bottom: 80px;
  }

  .additional-goods__box {
    display: flex;
    margin: 0 auto;
    width: 1220px;
  }

  .additional-goods__wrapper {
    margin: 0 auto;
    width: 1220px;
  }

  .additional-goods__list {
    border-bottom: 1px solid $basic-gray;
    width: 900px;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .additional-goods__item {
    padding: 10px 0;
    border: none;
    width: 896px;
    border-top: 1px solid $basic-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .additional-goods__info {
    width: 610px;
    padding: 15px 0;
  }

  .additional-goods__order-all-wrapper {
    background-image: url("../../images/cat-in-box-mobile@2x.webp");
    width: 245px;
    height: 288px;
    display: flex;
    text-align: center;
  }

  .additional-goods__order-all-text {
    color: #ffffff;
    padding: 200px 40px 0;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50px;
      left: 40px;
      transform: translate(50%, 50%);
    }
  }
}
