.catalog-cards {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .catalog-cards {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-cards {
    width: 1220px;
  }
}
