.contact {
  margin: 0;
  padding: 0;
  color: #000000;
}

.contact__wrapper {
  position: relative;
}

.contact__info {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  width: 140px;
}

.contact__address {
  font-family: $Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $special-dark-grey;
  width: 140px;
}

.contact__map {
  width: 100%;
}

.contact__logo {
  position: absolute;
  left: 50%;
  top: 50%;
}

@media (min-width: $tablet-width) {
  .contact__info {
    padding: 60px 70px;
    width: $tablet-width;
  }

  .contact__title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }

  .contact__address {
    margin: 0;
    width: 157px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contact__info {
    position: absolute;
    margin: 95px 110px;
    padding: 60px 80px;
    width: 565px;
    background-color: #ffffff;
  }
}
