.how-it-works {
  color: #000000;
}

.how-it-works__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
}

.how-it-works__title {
  font-family: $Oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.how-it-works__list {
  list-style-type: none;
}

.how-it-works__item {
  color: $special-dark-grey;
}

.how-it-works__text {
  font-family: $Lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $special-dark-grey;
}

.how-it-works__icon {
  width: 28px;
  height: 28px;
  padding: 15px;
  background-color: $basic-green;

  &::after {
    content: "";
    width: 25px;
    height: 28px;
    position: absolute;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #ffffff;
  }
}

.how-it-works__icon-leaf {
  &::after {
    mask-image: url("../../icons/stack.svg#leaf");
  }
}

.how-it-works__icon-reaction {
  &::after {
    mask-image: url("../../icons/stack.svg#reaction");
  }
}

.how-it-works__icon-eat {
  &::after {
    mask-image: url("../../icons/stack.svg#eat");
  }
}

.how-it-works__icon-time {
  &::after {
    mask-image: url("../../icons/stack.svg#time");
  }
}
