.logo {
  color: #000000;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__link:hover .logo__image {
  opacity: 0.7;
}

.logo__link:hover .logo__text {
  opacity: 0.7;
}

.logo__info {
  color: #111111;
  text-decoration: none;
}

.logo__image {
  margin-right: 60px;
  transition: opacity 250ms ease-in-out;
}

.logo__text {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity 250ms ease-in-out;
}

@media (min-width: $tablet-width) {
  .logo__image {
    margin-right: 13px;
  }

  .logo__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
