.main-footer {
  margin: 0 auto;
  color: #000000;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    width: $desktop-width;
  }
}
