.rights {
  color: #000000;
  display: flex;
}

.rights__link {
  text-decoration: none;
  display: flex;
}

.rights__text {
  font-family: $Lato;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $special-dark-grey;
  text-decoration: none;
}

.rights__icon {
  width: 27px;
  height: 34px;
  display: block;
  background-color: $special_grey-2;
  mask-image: url("../../icons/stack.svg#html-icon");

  &:active,
  &:hover {
    background-color: $basic-green;
  }
}
