.site-list {
  list-style-type: none;
  display: none;
  gap: 37px;
}

.site-list--opened {
  list-style-type: none;
  display: flex;
  gap: 24px;
  position: absolute;
  background-color: #ffffff;
  width: 280px;
  top: 56px;
  left: 20px;
  padding: 32px;
  z-index: 2;
  border-bottom: 1px solid $special_grey;
}

.main-header--nojs .site-list--opened {
  position: static;
  padding-top: 0;
}

.site-list__item {
  font-family: $Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
}

.site-list__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  transition: color 250ms ease-in-out;

  &:hover {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-list--opened .site-list__item {
  font-family: $Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 18px;
  border-top: 1px solid $special_grey;
}

.site-list--opened .site-list__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    gap: 37px;
  }

  .site-list__item-active::after {
    content: "";
    position: absolute;
    background-color: $basic-green;
    height: 2px;
    right: 1px;
    left: 1px;
    bottom: -15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item-white-active::after {
    background-color: #ffffff;
  }

  .site-list__item-white a {
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
